package home 

import "github.com/lulzshadowwalker/pupsik/view/layout"

templ Index() {
	@layout.App() {
		<main class="min-h-screen min-w-screen flex items-center justify-center">
			<h1 class="text-2xl text-primary">Hello from home, lulzie.</h1>
		</main>
	}
}
